.main__title {
    font-size: 3rem;
    font-weight: 700;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
       ),url("https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHw2fHxwaXp6YXxlbnwwfHx8fDE2NTAyMjk1Nzg&ixlib=rb-1.2.1&q=80&w=1080");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    padding: 50px;
    margin-bottom: 0px;
    text-align: center;
    letter-spacing: 2px;
    color: #dfdfdf;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.separador {
    background-color: #000;
    height: 50px;
}

.section__food {
    font-size: 2rem;
    padding: 50px;
    text-align: center;
    color: #dfdfdf;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.pizzas, .empanadas, .bebidas, .postres {
    font-weight: 700;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

.pizzas {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
       ), url("https://images.unsplash.com/photo-1588315029754-2dd089d39a1a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHw5fHxwaXp6YXxlbnwwfHx8fDE2NTAyMjk1Nzg&ixlib=rb-1.2.1&q=80&w=1080");
}

.empanadas {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
       ),url("https://images.unsplash.com/photo-1609525313344-a56b96f20718?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHxlbXBhbmFkYXN8ZW58MHx8fHwxNjUwMjMxOTc1&ixlib=rb-1.2.1&q=80&w=1080");
}

.bebidas {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
       ), url("https://images.unsplash.com/photo-1551024709-8f23befc6f87?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxMXx8ZHJpbmt8ZW58MHx8fHwxNjUwMjMyMTAw&ixlib=rb-1.2.1&q=80&w=1080");
}

.postres {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
       ), url("https://images.unsplash.com/photo-1589660117682-0728d988a2d2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHx0b3J0YXxlbnwwfHx8fDE2NTAyMzIzNDQ&ixlib=rb-1.2.1&q=80&w=1080");
}

.section__card {
    background-color: #FFD980 !important;
    width: 18rem;
}

.card__text {
    padding: 10px 20px 20px;
}

.card__text h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

@media screen and (max-width:767px) {
    .section__card {
        width: 25rem;
    }
}

@media screen and (max-width:660px) {

    .section__card {
        width: 22rem;
    }
}

@media screen and (max-width:480px) {

    .separador__sup {
        display: none;
    }

    .main__title {
        font-size: 2rem;
    }

    .separador {
        height: 30px;
    }

    .section__food {
        font-size: 1.5rem;
    }

    .section__card {
        width: 20rem;
    }

}