@charset "UTF-8";
/* Animaciones generales */
@keyframes slideInBottom {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translateX(-1px);
  }
  20%, 80% {
    transform: translateX(2px);
  }
  30%, 50%, 70% {
    transform: translateX(-4px);
  }
  40%, 60% {
    transform: translateX(4px);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: perspective(400px) rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: perspective(400px) rotateY(0deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif !important;
  background-color: #CCA752 !important;
}

ul {
  padding-left: 0px !important;
}

.main {
  margin-top: 130px;
  animation-name: show;
  animation-duration: 1.5s;
}

.btn__general, .btn__read, .form__contact button {
  width: 160px;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.85);
}

/* Estilos del Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(0deg, rgba(102, 78, 20, 0.8) 0%, rgba(204, 167, 82, 0.8) 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.9);
  z-index: 100;
  /* Estilos de la barra de navegacion - Inicio */
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__nav--logo {
  width: 100px;
  height: 100px;
  margin: 1rem;
  border-radius: 50%;
}

.header__nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0px 15px;
}

.header__nav li {
  margin: 0px 24px;
}

.header__nav li a {
  text-decoration: none;
  color: #dfdfdf;
  transition: text-shadow .4s;
}

.header__nav li a:hover {
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.header__btn--close {
  display: none;
}

.btn__menu {
  display: none;
}

.btn__menu a:hover {
  color: #dfdfdf;
}

/* Estilos de la barra de navegacion - Final */
/* Estilos del Footer */
.footer {
  background-color: #332505;
  box-shadow: 2px -5px 6px 0px rgba(0, 0, 0, 0.749);
  color: #dfdfdf;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 300px;
  text-align: center;
}

.footer__nav--logo {
  width: 150px;
  height: 150px;
  margin: 0.9rem;
  border-radius: 50%;
}

.footer__nav--container {
  margin: 1rem 1.5rem;
}

.footer__nav--container h4 {
  font-size: 20px;
  letter-spacing: 1.5px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0px;
}

.footer__nav--container p {
  font-size: 14px;
  margin: 15px 0px;
}

.footer__nav--container iframe {
  width: 250px;
  height: 250px;
}

.footer__nav--container a {
  text-decoration: none;
  color: #dfdfdf;
}

.footer__nav--container a i {
  font-size: 3rem;
  margin: 30px 5px 30px;
  transition: color .5s;
}

.footer__copyright {
  background-color: #0e0e0e;
  color: #dfdfdf;
  text-align: center;
  font-size: 14px;
  padding: 18px;
}

.footer__copyright p {
  margin: 0px;
}

.location {
  display: flex;
}

.location div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1.8rem;
}

.btn-news {
  padding: 1rem 1.5rem !important;
  border-radius: 10px !important;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.85);
  transition: all .5s linear;
}

.btn-news:hover {
  background-color: #0e0e0e !important;
  color: #dfdfdf !important;
}

.form-control:focus {
  border-color: #ced4da !important;
  box-shadow: none !important;
}

.btn-warning:hover {
  outline: 2px solid #0e0e0e;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-instagram-square:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.fa-twitter-square:hover {
  color: #00acee;
}

@media screen and (max-width: 1040px) {
  .footer__nav {
    flex-direction: column;
  }
  .footer__nav--container a i {
    margin: 28px;
  }
}

@media screen and (max-width: 810px) {
  .main {
    margin-top: 195px;
  }
  .header__nav {
    flex-direction: column;
  }
  .header__nav ul {
    padding: 20px;
  }
}

@media screen and (max-width: 810px) and (orientation: landscape) {
  .main {
    margin-top: 105px;
  }
  .header__nav {
    flex-direction: row;
  }
  .header__nav--logo {
    width: 75px;
    height: 75px;
  }
  .header__nav ul {
    margin: 0px;
    flex-wrap: nowrap;
  }
  .header__nav li {
    font-size: 14px;
    margin: 0px 16px;
  }
}

@media screen and (max-width: 720px) {
  .main {
    margin-top: 170px;
  }
  .header__nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }
  .header__nav ul {
    display: none;
  }
  .btn__menu {
    display: block;
    font-size: 2rem;
    cursor: pointer;
  }
  .btn__menu a {
    color: #dfdfdf;
  }
  #lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 110;
    transition: right .5s;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0;
  }
  #lateral:target {
    right: 0;
  }
  #lateral li {
    margin: 20px 0px;
    transition: padding 0.5s;
  }
  #lateral li:hover {
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.5);
    padding: 20px;
  }
  .header__btn--close {
    display: block;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .main {
    margin-top: 145px;
  }
}

@media screen and (max-width: 667px) and (orientation: landscape) {
  #lateral {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 520px) {
  .location {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .main {
    margin-top: 140px;
  }
  .btn__general, .btn__read, .form__contact button {
    padding: 10px;
  }
  .header {
    height: 140px;
  }
  .header__nav--logo {
    margin: 0;
  }
  .footer__nav--container iframe {
    width: 300px;
    height: 300px;
  }
  .footer__copyright {
    font-size: 10px;
  }
}

@media screen and (max-width: 360px) {
  .main {
    margin-top: 125px;
  }
  .header {
    height: 125px;
  }
  .header__nav--logo {
    width: 80px;
    height: 80px;
  }
  .btn__menu {
    font-size: 1.8rem;
  }
  .footer__nav--container a i {
    margin: 20px;
  }
  .footer iframe {
    width: 200px;
    height: 200px;
  }
}

.main__section--welcome {
  height: 90vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1513104890138-7c749659a591?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHxyZXN0YXVyYW50JTIwcGl6emF8ZW58MHx8fHwxNjQ5ODIzMzI0&ixlib=rb-1.2.1&q=80&w=1080");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
}

.main__section--title, .main__section--subtitle, .main__section--hashtag {
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  color: #dfdfdf;
}

.main__section--title {
  font-size: 5rem;
  letter-spacing: 10px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0px;
}

.main__section--subtitle {
  font-size: 2rem;
  font-weight: 700;
  margin: 150px 0px 0px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.main__section--hashtag {
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 0px;
}

/* Estilos de la sección de tarjetas - Inicio */
.main__section--cards {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.main__section--card {
  background-color: #FFD980;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.main__section--card img {
  width: 40%;
}

.card__content {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.card__title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 10px 0px;
}

.card__text {
  font-size: 1.5rem;
  text-align: left;
  padding: 0px 80px 0px 50px;
  margin: 20px 0px 0px;
}

.card__btn {
  background-color: #0e0e0e;
  margin: 40px 0px;
}

.card__btn a {
  text-decoration: none;
  color: #dfdfdf;
}

.card__btn a i {
  margin-left: 5px;
  transition: margin-left 1s;
}

.card__btn:hover {
  outline: 2px solid #dfdfdf;
}

.card__btn:hover a {
  color: #dfdfdf;
}

.card__btn:hover a i {
  margin-left: 14px;
}

/* Estilos para que la imagen de la tarjeta quede a la derecha y el otro contenido a la izquierda */
.left {
  flex-direction: row-reverse;
}

/* Estilos de la sección de tarjetas - Final*/
@media screen and (max-width: 1024px) {
  .main__section--cards {
    width: 100%;
  }
}

@media screen and (max-width: 915px) and (orientation: landscape) {
  .main__section--welcome {
    height: auto;
  }
}

@media screen and (max-width: 810px) {
  .main__section--card {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
  .main__section--card img {
    width: 85%;
    margin: 0 auto;
  }
  .card__content {
    width: 100%;
  }
  .card__title {
    font-size: 3rem;
  }
  .card__text {
    text-align: justify;
    padding: 10px 60px;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 720px) {
  .main__section--title {
    font-size: 4rem;
  }
  .main__section--subtitle {
    font-size: 1.5rem;
  }
  .main__section--hashtag {
    font-size: 3rem;
  }
}

@media screen and (max-width: 480px) {
  .main__section--welcome {
    background-position: -250px;
    background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHxyZXN0YXVyYW50JTIwcGl6emF8ZW58MHx8fHwxNjQ5ODIzMzI0&ixlib=rb-1.2.1&q=80&w=1080");
    height: 85vh;
  }
  .main__section--title {
    letter-spacing: normal;
    font-size: 3rem;
  }
  .main__section--subtitle {
    letter-spacing: normal;
    font-size: 1.5rem;
    margin-top: 100px;
  }
  .main__section--hashtag {
    font-size: 2rem;
    margin-top: 100px;
  }
  .main__section--card img {
    width: 100%;
  }
  .card__title {
    font-size: 2.5rem;
  }
  .card__text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .main__section--welcome {
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  .main__section--welcome {
    padding: 70px;
  }
  .main__section--title {
    font-size: 2.4rem;
  }
  .card__title {
    font-size: 2rem;
  }
}

.main__title--food {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0px;
  line-height: 1.2;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://images.unsplash.com/photo-1604382354936-07c5d9983bd3?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHw2fHxwaXp6YXxlbnwwfHx8fDE2NTAyMjk1Nzg&ixlib=rb-1.2.1&q=80&w=1080");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  padding: 50px;
  text-align: center;
  letter-spacing: 2px;
  color: #dfdfdf;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.separador {
  background-color: #0e0e0e;
  height: 50px;
}

.section__food {
  font-size: 2rem;
  padding: 50px;
  text-align: center;
  color: #dfdfdf;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.pizzas, .empanadas, .bebidas, .postres {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px;
  letter-spacing: 2px;
}

.pizzas {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1588315029754-2dd089d39a1a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHw5fHxwaXp6YXxlbnwwfHx8fDE2NTAyMjk1Nzg&ixlib=rb-1.2.1&q=80&w=1080");
}

.empanadas {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1609525313344-a56b96f20718?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHxlbXBhbmFkYXN8ZW58MHx8fHwxNjUwMjMxOTc1&ixlib=rb-1.2.1&q=80&w=1080");
}

.bebidas {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1551024709-8f23befc6f87?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxMXx8ZHJpbmt8ZW58MHx8fHwxNjUwMjMyMTAw&ixlib=rb-1.2.1&q=80&w=1080");
}

.postres {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://images.unsplash.com/photo-1589660117682-0728d988a2d2?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHx0b3J0YXxlbnwwfHx8fDE2NTAyMzIzNDQ&ixlib=rb-1.2.1&q=80&w=1080");
}

.section__card {
  background-color: #FFD980 !important;
  width: 18rem;
  animation-name: flipInX;
  animation-duration: .8s;
}

.card__text--food {
  padding: 10px 20px 20px;
}

.card__text--food h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .section__card {
    width: 25rem;
  }
}

@media screen and (max-width: 660px) {
  .section__card {
    width: 22rem;
  }
}

@media screen and (max-width: 480px) {
  .separador__sup {
    display: none;
  }
  .main__title--food {
    font-size: 2rem;
  }
  .separador {
    height: 30px;
  }
  .section__food {
    font-size: 1.5rem;
  }
  .section__card {
    width: 20rem;
  }
}

@media screen and (max-width: 360px) {
  .section__card {
    width: 18rem;
  }
}

@media screen and (max-width: 320px) {
  .section__card {
    width: 16rem;
  }
}

.main__title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin-top: 160px;
}

.main__subtitle {
  font-size: 1.5rem;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  animation-name: shake;
  animation-duration: 1s;
}

.main__section--gallery {
  background-color: #FFD980;
  width: 80%;
  margin: 20px auto 50px;
  border-radius: 5px;
  padding: 10px;
  animation-name: slideInLeft;
  animation-duration: 1s;
}

ul {
  padding-left: 0px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.list__item {
  padding: 20px;
  background-color: #0e0e0e;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
  border-radius: 3px;
}

.list__item a {
  text-decoration: none;
  color: #dfdfdf;
  cursor: pointer;
}

.list__item:hover {
  text-decoration: underline;
}

.gallery {
  min-height: 500px;
}

.gallery__photo {
  max-width: 1440px;
  margin: 0px auto;
}

.gallery__container {
  max-height: 600px;
}

.mobile__title {
  display: none;
}

#establecimiento, #pizza-varios, #nuestra-gente, #personas-personajes {
  display: none;
}

#establecimiento:target, #pizza-varios:target, #nuestra-gente:target, #personas-personajes:target {
  display: block;
  animation-name: slideInBottom;
  animation-duration: 1s;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card-img {
  width: 100%;
  height: 600px !important;
  object-fit: cover;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .carousel-item {
    height: auto;
  }
}

@media screen and (max-width: 980px) {
  .list {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 810px) {
  .main__title {
    margin-top: 240px;
  }
}

@media screen and (max-width: 810px) and (orientation: landscape) {
  .main__title {
    margin-top: 160px;
  }
}

@media screen and (max-width: 720px) {
  .main__title {
    margin-top: 220px;
  }
}

@media screen and (max-width: 600px) {
  .main__section--gallery {
    width: 90%;
  }
  .list__item {
    padding: 20px 10px;
  }
}

@media screen and (max-width: 480px) {
  .main__title {
    font-size: 2.25rem;
    margin-top: 190px;
  }
  .main__subtitle {
    font-size: 1.25rem;
    animation: none;
  }
  .list {
    display: none;
  }
  .main__section--gallery {
    width: 100%;
    margin-bottom: 0px;
  }
  .mobile__title {
    display: block;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0px;
    width: 100%;
    padding: 20px;
    margin: 0px auto;
    background-color: #0e0e0e;
    color: #dfdfdf;
    border-radius: 3px;
    text-align: center;
  }
  .gallery {
    display: flex;
    flex-direction: column;
  }
  .gallery__container {
    min-height: 500px;
  }
  #establecimiento, #pizza-varios, #nuestra-gente, #personas-personajes {
    display: block;
  }
  #personas-personajes {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 360px) {
  .main__title {
    margin-top: 160px;
  }
}

.section__events--title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0px;
  line-height: 1.2;
  letter-spacing: 2px;
  width: 100%;
  height: 300px;
  color: #dfdfdf;
  text-align: center;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  padding: 100px 30px;
  background-image: url("https://images.unsplash.com/photo-1517457373958-b7bdd4587205?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHw2fHxldmVudHxlbnwwfHx8fDE2NTAyMjUwMDE&ixlib=rb-1.2.1&q=80&w=1080");
  background-repeat: no-repeat;
  background-size: cover;
}

.article {
  background-color: #FFD980;
  max-width: 1400px;
  margin: 0px auto;
  animation-name: slideInLeft;
  animation-duration: 1s;
}

.article__header {
  background-color: #0e0e0e;
  color: #dfdfdf;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
  letter-spacing: 1.5px;
}

.article__header h3 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0px;
}

.article__content {
  padding: 20px;
  display: flex;
}

.article__content img {
  width: 50%;
  border-radius: 10px;
}

.article__content--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 30px;
}

.article__content--text p {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 50px;
}

.article__content--text div p {
  margin-top: 1.5rem;
}

.btn__read {
  width: 100%;
  border-radius: 5px;
  background-color: #0e0e0e;
  box-shadow: 8px 8px 10px 2px rgba(0, 0, 0, 0.85);
}

.btn__read:hover {
  text-decoration: underline;
  outline: 2px solid #dfdfdf;
}

@media screen and (max-width: 860px) {
  .article__content {
    flex-direction: column;
    align-items: center;
  }
  .article__content img {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .section__events--title {
    font-size: 2.5rem;
  }
  .article__header {
    letter-spacing: normal;
  }
}

@media screen and (max-width: 480px) {
  .section__events--title {
    font-size: 2rem;
  }
  .article__header {
    font-size: 0.8rem;
  }
  .article__content {
    padding: 0;
  }
  .article__content img {
    border-radius: 0px;
    width: 100%;
  }
  .article__content--text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin-bottom: 20px;
  }
  .article__content--text p {
    line-height: normal;
    margin: 0;
    padding-right: 30px;
  }
  .article__content--text button {
    height: 100px;
    font-size: 0.8rem;
    padding: 0px 15px;
  }
}

.main__section--contact {
  height: 90vh;
  max-width: 1400px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;
  background-color: #FFD980;
  animation-name: slideInLeft;
  animation-duration: 1s;
}

.container__contact {
  padding: 16px 30px 30px;
}

.container__contact h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 1;
}

.container__contact p {
  text-align: center;
}

.img {
  background-image: url("https://images.unsplash.com/photo-1615840287214-7ff58936c4cf?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHw2fHxjb250YWN0fGVufDB8fHx8MTY1MDIyMjEyOA&ixlib=rb-1.2.1&q=80&w=1080");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.form__contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  background-color: #CCA752;
  padding: 15px 30px;
  margin-top: 20px;
  border: 2px solid #664e14;
  border-radius: 10px;
}

.form__contact div {
  display: flex;
  flex-direction: column;
}

.form__contact div label:last-child {
  font-size: 12px;
  text-align: center;
}

.form__contact button {
  width: 100%;
  background-color: #0e0e0e;
  color: #dfdfdf;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: 15px 0px 20px;
  padding: 10px 20px;
  text-transform: uppercase;
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.form__contact button i {
  margin-right: 8px;
  transition: margin-right .8s;
}

.form__contact button:hover {
  outline: 2px solid #dfdfdf;
}

.form__contact button:hover i {
  margin-right: 16px;
}

.form__label {
  margin-bottom: 5px;
}

.form__label i {
  font-size: 1.2rem;
}

.form__input {
  font-family: "Poppins", sans-serif;
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.form__input:focus-visible {
  outline: none;
  color: #dfdfdf;
  background-color: #202020;
}

#liveAlertPlaceholder {
  overflow: hidden;
  height: 70px;
}

@media screen and (max-width: 1420px) {
  .container__contact {
    background-color: #CCA752;
  }
  .form__contact {
    background-color: #FFD980;
  }
}

@media screen and (max-width: 1420px) and (orientation: landscape) {
  .main__section--contact {
    height: auto;
  }
  .img {
    height: auto;
  }
}

@media screen and (max-width: 960px) {
  .main__section--contact, .img {
    height: 95vh;
  }
  #liveAlertPlaceholder {
    height: 90px;
  }
}

@media screen and (max-width: 960px) and (orientation: landscape) {
  .main__section--contact {
    height: auto;
  }
  .img {
    height: auto;
  }
}

@media screen and (max-width: 720px) {
  .main__section--contact {
    display: block;
    height: auto;
    background-image: url("https://images.unsplash.com/photo-1615840287214-7ff58936c4cf?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHw2fHxjb250YWN0fGVufDB8fHx8MTY1MDIyMjEyOA&ixlib=rb-1.2.1&q=80&w=1080");
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: show;
    animation-duration: 1s;
  }
  .container__contact {
    background-color: transparent;
  }
  .container__contact h1, .container__contact p {
    color: #dfdfdf;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
  }
  .form__contact {
    background-color: rgba(255, 217, 128, 0.5);
  }
  .img {
    display: none;
  }
  #liveAlertPlaceholder {
    height: 70px;
  }
}

@media screen and (max-width: 720px) and (orientation: landscape) {
  .img {
    height: auto;
  }
}

@media screen and (max-width: 540px) {
  .main__section--contact {
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .form__input, .form__label {
    font-size: 0.9rem;
  }
  .img {
    display: none;
  }
  #liveAlertPlaceholder {
    height: 90px;
  }
}

@media screen and (max-width: 360px) {
  .form__input {
    font-size: 0.8rem;
  }
  .form__contact button {
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
}
/*# sourceMappingURL=estilos.css.map */