.main {
    margin-bottom: 50px;
}

.main__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 160px;
}

.main__subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.main__section--gallery {
    background-color: #FFD980;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px;
}

ul {
    padding-left: 0px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.list__item {
    padding: 20px;
    background-color: #000;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-radius: 3px;
}

.list__item a {
    text-decoration: none;
    color: #dfdfdf;
    cursor: pointer;
}

.list__item a:hover {
    text-decoration: underline;
}

.gallery {
    min-height: 500px;
}

.gallery__container {
    max-height: 800px;
}

.mobile__title {
    display: none;
}

#establecimiento, #pizza-varios, #nuestra-gente, #personas-personajes {
    display: none;
}

#establecimiento:target, #pizza-varios:target, #nuestra-gente:target, #personas-personajes:target {
    display: block;
}

.gallery__photo {
    width: 80%;
    margin: 0px auto;
}

/* Animaciones escritorio */

@keyframes agrandar-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(78px) translateY(76px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar-2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(-78px) translateY(76px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar-3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(78px) translateY(-76px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar-4 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(-78px) translateY(-76px);
    }

    100% {
        transform: scale(1);
    }
}

/* Animaciones mobile y tablets */

@keyframes agrandar980-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2) translateY(76px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar980-2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar980-3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar980-4 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2)  translateY(-76px);
    }

    100% {
        transform: scale(1);
    }
}

/* Animaciones mobile */

@keyframes agrandar480-1 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(50px) translateY(52px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar480-2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(-50px) translateY(52px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar480-3 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(50px) translateY(-48px);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes agrandar480-4 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(2.1) translateX(-50px) translateY(-48px);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width:980px) {

    .list {
        font-size: 0.8rem;
    }

}

@media screen and (max-width:810px) {
    .main {
        margin-top: 220px;
    }
}

@media screen and (max-width:600px) {
    .main__section--gallery {
        width: 90%;
    }
    .list__item {
        padding: 20px 10px;
    }
}

@media screen and (max-width:480px) {

    .main {
        margin-bottom: 0px;
        margin-top: 190px;
    }

    .main__title {
        font-size: 2.25rem;
    }

    .main__subtitle {
        font-size: 1.25rem;
    }

    .list {
        display: none;
    }

    .main__section--gallery {
        width: 100%;
        margin-bottom: 0px;
    }

    .mobile__title {
        display: block;
        width: 100%;
        padding: 20px;
        margin: 0px auto;
        background-color: #000;
        color: #dfdfdf;
        border-radius: 3px;
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery__btn {
        display: none;
    }

    #establecimiento, #pizza-varios, #nuestra-gente, #personas-personajes {
        display: block;
    }

    #personas-personajes {
        margin-bottom: 60px;
    }

}

@media screen and (max-width:360px) {
    .main {
        margin-top: 160px;
    }
}