.main {
    margin-bottom: 50px;
}

.main__title {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-top: 160px;
}

.main__subtitle {
    font-size: 1.5rem;
    text-align: center;
}

.main__section--gallery {
    background-color: #FFD980;
    width: 80%;
    margin: 20px auto;
    border-radius: 5px;
    padding: 10px;
}

ul {
    padding-left: 0px;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.list__item {
    padding: 20px;
    background-color: #000;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    border-radius: 3px;
}

.list__item a {
    text-decoration: none;
    color: #dfdfdf;
    cursor: pointer;
}

.list__item a:hover {
    text-decoration: underline;
}

.gallery {
    min-height: 500px;
}

.gallery__photo {
    max-width: 1440px;
    margin: 0px auto;
}

.gallery__container {
    max-height: 600px;
}

.mobile__title {
    display: none;
}

#establecimiento, #pizza-varios, #nuestra-gente, #personas-personajes {
    display: none;
}

#establecimiento:target, #pizza-varios:target, #nuestra-gente:target, #personas-personajes:target {
    display: block;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-img {
    width: 100%;
    height: 600px !important;
    object-fit: cover;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

@media screen and (max-width:980px) {

    .list {
        font-size: 0.8rem;
    }

}

@media screen and (max-width:810px) {
    .main {
        margin-top: 220px;
    }
}

@media screen and (max-width:600px) {
    .main__section--gallery {
        width: 90%;
    }
    .list__item {
        padding: 20px 10px;
    }
}

@media screen and (max-width:480px) {

    .main {
        margin-bottom: 0px;
        margin-top: 190px;
    }

    .main__title {
        font-size: 2.25rem;
    }

    .main__subtitle {
        font-size: 1.25rem;
    }

    .list {
        display: none;
    }

    .main__section--gallery {
        width: 100%;
        margin-bottom: 0px;
    }

    .mobile__title {
        display: block;
        font-weight: 700;
        line-height: 1;
        width: 100%;
        padding: 20px;
        margin: 0px auto;
        background-color: #000;
        color: #dfdfdf;
        border-radius: 3px;
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    #establecimiento, #pizza-varios, #nuestra-gente, #personas-personajes {
        display: block;
    }

    .gallery__container {
        min-height: 500px;
    }

    #personas-personajes {
        margin-bottom: 60px;
    }

}

@media screen and (max-width:360px) {
    .main {
        margin-top: 160px;
    }
}