* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif !important; 
    background-color: #CCA752 !important;
}

/* h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0rem !important;
    font-weight: 700 !important;
    line-height: 1 !important;
} */

ul {
    padding-left: 0px !important;
}

.main {
    margin-top: 130px;
}

.btn__general {
    width: 160px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 8px 8px 10px 2px rgba(0,0,0,0.85);
}

/* Estilos del Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(0deg, rgba(102,78,20,0.8) 0%, rgba(204,167,82,0.8) 100%);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.9);
    z-index: 100;
}

/* Estilos de la barra de navegacion - Inicio */

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__nav--logo {
    width: 100px;
    height: 100px;
    margin: 1rem;
    border-radius: 50%;
}

.header__nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0px 15px;
}

.header__nav li {
    margin: 0px 24px;
}

.header__nav li a{
    text-decoration: none;
    color: #dfdfdf;
    transition: text-shadow .4s;
}

.header__nav li a:hover {
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
}

.header__btn--close {
    display: none;
}

.btn__menu {
    display: none;
}

.btn__menu a:hover {
    color: #dfdfdf;
}

/* Estilos de la barra de navegacion - Final */

/* Estilos del Footer */

.footer {
    background-color: #332505;
    box-shadow: 2px -5px 6px 0px rgba(0,0,0,0.75);
    color: #dfdfdf;
}

.footer__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    justify-content: center;
    text-align: center;
}

.footer__nav--logo {
    width: 150px;
    height: 150px;
    margin: 0.9rem;
    border-radius: 50%;
}

.location {
    display: flex;
}

.location div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0rem 1.8rem;
}

.footer__nav--container {
    margin: 1rem 1.5rem;
}

.footer__nav--container h4{
    font-size: 20px;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.footer__nav--container p{
    font-size: 14px;
    margin: 15px 0px;
}

.footer__nav--container iframe {
    width: 250px;
    height: 250px;
}

.btn-news:hover {
    outline: 2px solid #0e0e0e;
    text-decoration: underline;
}

.footer__nav--container a {
    text-decoration: none;
    color: #dfdfdf;
}

.footer__nav--container a i {
    font-size: 3rem;
    margin: 30px 5px 30px;
    transition: color .5s;
}

.fa-facebook-square:hover {
    color: #3b5998;
}

.fa-instagram-square:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    color: transparent;  
}

.fa-twitter-square:hover {
    color:  #00acee
}

.footer__copyright {
    background-color: #0e0e0e;
    color: #fdfdfd;
    text-align: center;
    font-size: 14px;
    padding: 18px;
}

.footer__copyright p {
    margin: 0px;
}

@media screen and (max-width:1040px) {
    .footer__nav {
        flex-direction: column;
    }

    .footer__nav--container a i {
        margin: 28px;
    }
}

@media screen and (max-width:810px) {
    .main {
        margin-top: 195px;
    }

    .header__nav {
        flex-direction: column;
    }

    .header__nav ul {
        padding: 20px;
    }
}

@media screen and (max-width:720px) {
    .main {
        margin-top: 170px;
    }

    .header__nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }
    
    .header__nav ul {
        display: none;
    }

    .btn__menu {
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }

    .btn__menu a {
        color: #dfdfdf;
    }

    #lateral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 110;
        transition: right .5s;
        background-color: rgb(0, 0, 0, 0.7);
        margin: 0;
    }

    #lateral:target {
        right: 0;
    }

    #lateral li {
        margin: 20px 0px;
        transition: padding 0.5s;
    }

    #lateral li:hover {
        border-radius: 5px;
        background-color: rgba(192, 192, 192, 0.5);
        padding: 20px;
    }

    .header__btn--close {
        display: block;
    }


}

@media screen and (max-width:520px) {
    .location {
        flex-direction: column;
    }
}

@media screen and (max-width:480px) {

    .main {
        margin-top: 140px;
    }

    .btn__general {
        padding: 10px;
    }

    .header {
        height: 140px;
    }

    .header__nav--logo {
        margin: 0;
    }

    .footer__nav--container iframe {
        width: 300px;
        height: 300px;
    }

    .footer__copyright {
        font-size: 10px;
    }
}

@media screen and (max-width:360px) {

    .main {
        margin-top: 125px;
    }

    .header {
        height: 125px;
    }

    .header__nav--logo {
        width: 80px;
        height: 80px;
    }

    .btn__menu {
        font-size: 1.8rem;
    }

    .footer__nav--container a i {
        margin: 20px;
    }
}