.main__section--welcome {
    height: 90vh;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
       ), url("https://images.unsplash.com/photo-1513104890138-7c749659a591?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHxyZXN0YXVyYW50JTIwcGl6emF8ZW58MHx8fHwxNjQ5ODIzMzI0&ixlib=rb-1.2.1&q=80&w=1080");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
}

.main__section--title,  .main__section--subtitle, .main__section--hashtag{
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0,0.6);
    color: #dfdfdf;
}

.main__section--title {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 10px;
    line-height: 1;
    margin-bottom: 0px;
}

.main__section--subtitle {
    font-size: 2rem;
    font-weight: 700;
    margin: 150px 0px 0px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.main__section--hashtag {
    font-size: 4rem;
    font-style: italic;
    margin-bottom: 0px;
}

/* Estilos de la sección de tarjetas - Inicio */

.main__section--cards {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}

.main__section--card {
    background-color: #FFD980;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.main__section--card img{
    width: 40%;
}

.card__content {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.card__title {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: center;
    margin: 20px 10px 0px;
}

.card__text {
    font-size: 1.5rem;
    text-align: left;
    padding: 0px 80px 0px 50px;
    margin: 20px 0px 0px;
}

.card__btn {
    background-color: #000;
    margin: 40px 0px;
}

.card__btn a i {
    margin-left: 5px;
    transition: margin-left 1s;
}

.card__btn:hover a i {
    margin-left: 14px;
}

.card__btn:hover {
    outline: 2px solid #dfdfdf;
}

.card__btn:hover a {
    color: #fdfdfd;
}

.card__btn a {
    text-decoration: none;
    color: #fdfdfd;
}

/* Estilos para que la imagen de la tarjeta quede a la derecha y el otro contenido a la izquierda */

.left {
    flex-direction: row-reverse;
}

/* Estilos de la sección de tarjetas - Final*/

@media screen and (max-width:1024px) {
    .main__section--cards {
        width: 100%;
    }
}

@media screen and (max-width:810px) {
    .main__section--card {
        flex-direction: column-reverse;
        flex-wrap: nowrap;
    }

    .main__section--card img{
        width: 85%;
        margin: 0 auto;
    }

    .card__content {
        width: 100%;
    }

    .card__title {
        font-size: 3rem;
    }

    .card__text {
        text-align: justify;
        padding: 10px 60px;
        font-size: 1.25rem;
    }
}

@media screen and (max-width:720px) {
    .main__section--title {
        font-size: 4rem;
    }

    .main__section--subtitle {
        font-size: 1.5rem;
    }

    .main__section--hashtag {
        font-size: 3rem;
    }
}

@media screen and (max-width:480px) {

    .main__section--welcome {
        background-position: -250px;
        background-image: url("https://images.unsplash.com/photo-1513104890138-7c749659a591?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyNzM2NDd8MHwxfHNlYXJjaHwxfHxyZXN0YXVyYW50JTIwcGl6emF8ZW58MHx8fHwxNjQ5ODIzMzI0&ixlib=rb-1.2.1&q=80&w=1080");
        height: 85vh;
    }

    .main__section--title {
        letter-spacing: normal;
        font-size: 3rem;
    }

    .main__section--subtitle {
        letter-spacing: normal;
        font-size: 1.5rem;
        margin-top: 100px;
    }

    .main__section--hashtag {
        font-size: 2rem;
        margin-top: 100px;
    }

    .main__section--card img{
        width: 100%;
    }

    .card__title {
        font-size: 2.5rem;
    }

    .card__text {
        font-size: 1rem;
    }
}

@media screen and (max-width:360px) {
    .main__section--title {
        font-size: 2.8rem;
    }

    .card__title {
        font-size: 2rem;
    }
}